/UniversityDao/App.config
/UniversityWebApp/Web.config

Model/bin/Debug/Model.dll
	Model/bin/Debug/Model.pdb
	Model/obj/Debug/Model.dll
	Model/obj/Debug/Model.pdb
	UniversityDao/bin/Debug/EntityFramework.SqlServer.dll
	UniversityDao/bin/Debug/EntityFramework.dll
	UniversityDao/bin/Debug/Microsoft.Web.Infrastructure.dll
	UniversityDao/bin/Debug/Model.dll
	UniversityDao/bin/Debug/Model.pdb
	UniversityDao/bin/Debug/System.Web.Mvc.dll
	UniversityDao/bin/Debug/UniversityDao.dll
	UniversityDao/bin/Debug/UniversityDao.pdb
	UniversityDao/obj/Debug/UniversityDao.csprojResolveAssemblyReference.cache
	UniversityDao/obj/Debug/UniversityDao.dll
	UniversityDao/obj/Debug/UniversityDao.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_FileEditor.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_FileEditor.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_ImageResize.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_ImageResize.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_Watermark.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Debug/CKFinder_Watermark.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_FileEditor.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_FileEditor.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_ImageResize.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_ImageResize.pdb
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_Watermark.dll
	UniversityWebApp/CustomStyle/ckfinder/bin/Release/CKFinder_Watermark.pdb
	UniversityWebApp/bin/Antlr3.Runtime.dll
	UniversityWebApp/bin/Antlr3.Runtime.pdb
	UniversityWebApp/bin/CKFinder.dll
	UniversityWebApp/bin/CKFinder.pdb
	UniversityWebApp/bin/EntityFramework.SqlServer.dll
	UniversityWebApp/bin/EntityFramework.dll
	UniversityWebApp/bin/Microsoft.AI.Agent.Intercept.dll
	UniversityWebApp/bin/Microsoft.AI.DependencyCollector.dll
	UniversityWebApp/bin/Microsoft.AI.PerfCounterCollector.dll
	UniversityWebApp/bin/Microsoft.AI.ServerTelemetryChannel.dll
	UniversityWebApp/bin/Microsoft.AI.Web.dll
	UniversityWebApp/bin/Microsoft.AI.WindowsServer.dll
	UniversityWebApp/bin/Microsoft.ApplicationInsights.dll
	UniversityWebApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
	UniversityWebApp/bin/Microsoft.Web.Infrastructure.dll
	UniversityWebApp/bin/Model.dll
	UniversityWebApp/bin/Model.pdb
	UniversityWebApp/bin/Newtonsoft.Json.dll
	UniversityWebApp/bin/System.Web.Helpers.dll
	UniversityWebApp/bin/System.Web.Mvc.dll
	UniversityWebApp/bin/System.Web.Optimization.dll
	UniversityWebApp/bin/System.Web.Razor.dll
	UniversityWebApp/bin/System.Web.WebPages.Razor.dll
	UniversityWebApp/bin/System.Web.WebPages.dll
	UniversityWebApp/bin/UniversityDao.dll
	UniversityWebApp/bin/UniversityDao.pdb
	UniversityWebApp/bin/UniversityWebApp.dll
	UniversityWebApp/bin/UniversityWebApp.pdb
	UniversityWebApp/bin/WebGrease.dll
	UniversityWebApp/obj/Debug/UniversityWebApp.csprojResolveAssemblyReference.cache
	UniversityWebApp/obj/Debug/UniversityWebApp.dll
	UniversityWebApp/obj/Debug/UniversityWebApp.pdb
