
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mainnav {
        opacity: unset;
        background-color: #034EA2;
    }
</style>
<title>Confirm Email</title>
<div class="container row" style="width:500px;margin:5% auto auto auto;">
    Please check your Email Inbox, a confirm Email is Sent to @ViewBag.Email
</div>