
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .mainnav {
        opacity: unset;
        background-color: #034EA2;
    }
</style>
<title>Thanks</title>
<div class="container row" style="width:500px;margin:5% auto auto auto;">
    Verify successfully @ViewBag.UserName
</div>

