<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .mainnav {
        opacity: unset;
        background-color: #034EA2;
    }
</style>
<div class="container row" style="width:500px;margin:5% auto auto auto;">

    <p>
        @Html.ActionLink("Test", "Test")
    </p>
</div>