
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .borderless td, .borderless th {
        border: none;
    }
   
</style>
<div class="" style="height:250px;background-color:#F37021;text-align:center;background-image:url(/Data/img/Greenwich-University.jpg);background-position:center;background-size:100%;">
    <p style="position: absolute;
    text-align: center;
    width: 100%;
    color: white;
    font-size: 25px;
    margin-top: 120px;">The place you exchange ideas and questions with other school members</p>
</div>

<div class="container">
    <div class="card" style="margin-top:10px">
        <div class="card-header" style="background-color:#F37021;color:white;padding:5px 0 5px 10px">
            <div class="col-lg-12 row" style="padding:0">
                <h3 class="col-lg-4 col-md-4 col-sm-12 text-md-left text-center">Study</h3>
                <h6 class="col-lg-8 col-md-8 col-sm-12 text-md-right  text-center" style="padding:10px 0 0 0">Description this cus</h6>
            </div>
        </div>
        <div class="">
            <table class="table borderless">
                <tr style="background-color:#C7CBD6;color:white">
                    <th>TITLE</th>
                    <th style="width:200px">STATISTICS</th>
                    <th style="width:200px">LAST POST</th>
                </tr>
                <tr>
                    <td>Forum Test</td>
                    <td>
                        <p>134 ideas</p>
                    </td>
                    <td>Forum Test</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="card" style="margin-top:10px">
        <div class="card-header" style="background-color:#F37021;color:white;padding:5px 0 5px 10px">
            <div class="col-lg-12 row" style="padding:0">
                <h3 class="col-lg-4 col-md-4 col-sm-12 text-md-left text-center">Games</h3>
                <h6 class="col-lg-8 col-md-8 col-sm-12 text-md-right  text-center" style="padding:10px 0 0 0">Description this cus</h6>
            </div>
        </div>
        <div class="">
            <table class="table borderless">
                <tr style="background-color:#C7CBD6;color:white">
                    <th>TITLE</th>
                    <th style="width:200px">STATISTICS</th>
                    <th style="width:200px">LAST POST</th>
                </tr>
                <tr style="border-bottom:1px solid black">
                    <td>Forum Test</td>
                    <td>
                        <p>134 ideas</p>
                    </td>
                    <td>Forum Test</td>

                </tr>
                <tr>
                    <td>Forum Test</td>
                    <td>
                        <p>134 ideas</p>
                    </td>
                    <td>Forum Test</td>
                </tr>

            </table>
        </div>
    </div>
    <div class="card" style="margin-top:10px">
        <div class="card-header" style="background-color:#F37021;color:white;padding:5px 0 5px 10px">
            <div class="col-lg-12 row" style="padding:0">
                <h3 class="col-lg-4 col-md-4 col-sm-12 text-md-left text-center">Entertainment</h3>
                <h6 class="col-lg-8 col-md-8 col-sm-12 text-md-right  text-center" style="padding:10px 0 0 0">Description this cus</h6>
            </div>
        </div>
        <div class="">
            <table class="table borderless">
                <tr style="background-color:#C7CBD6;color:white">
                    <th>TITLE</th>
                    <th style="width:200px">STATISTICS</th>
                    <th style="width:200px">LAST POST</th>
                </tr>
                <tr>
                    <td>Forum Test</td>
                    <td>
                        <p>134 ideas</p>
                    </td>
                    <td>Forum Test</td>
                </tr>
            </table>
        </div>
    </div>
</div>